<ion-card class="card">
  <ion-card-header>
    <ion-item detail="false" lines="none" class="card-item">
      <ion-label>
        <ion-text color="primary">
          <h2 class="title">
            {{ itinerary.name }}
          </h2>
        </ion-text>
        <h3 class="sub-title">
          {{ itinerary.city.name }}, {{ itinerary.city.country }} -
          {{ itinerary.estimatedBudget.currency }} {{ itinerary.estimatedBudget.value }}
        </h3>
      </ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <swiper [config]="swiperConfig">
      <ng-template swiperSlide *ngFor="let imageUrl of imageUrls">
        <img src="{{ imageUrl }}" style="object-fit: cover; height: 250px" />
      </ng-template>
    </swiper>
    <ion-row>
      <ion-col>
        <ion-item detail="false" lines="none">
          <ion-button size="small" fill="clear" class="btn-action">
            <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
            <span class="icon-label">1,439</span>
          </ion-button>
          <ion-button size="small" fill="clear" class="btn-action icon">
            <ion-icon name="chatbubbles-outline" slot="icon-only"></ion-icon>
            <span class="icon-label">27</span>
          </ion-button>
          <ion-button size="small" fill="clear" class="btn-action icon">
            <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
            <span class="icon-label">Share</span>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item detail="false" lines="none" class="card-item">
      <p class="wrap-text">
        {{ itinerary.description }}
      </p>
    </ion-item>
    <ion-item detail="false" lines="none" class="card-item">
      <ion-avatar item-start>
        <img src="assets/images/avatars/rabbit.jpg" />
      </ion-avatar>
      <ion-label class="user-info">
        <h2>Christofel Hakim</h2>
        <p>Local Guide</p>
      </ion-label>
      <ion-button (click)="open('1')" size="small" fill="clear" class="btn-action icon" item-end>
        <span>View Activities</span>
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>