.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 200px;
}

.list {
  margin-bottom: 0;
}

@media screen and (min-width: 577px) {
  .container {
    padding: 5vh auto;
    max-width: 50vw;
    margin: auto;
  }  
}

.container {
  padding: 5vh 8vw;
  margin-top: 8vw;
}