<div>
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let card of cards">
      <ion-card [class.no-margin]="useCardEffect" class="card">
        <img [ngClass]="useCardEffect ? 'img-md' : 'img-sm'" *ngIf="card.imageUrl" [src]="card.imageUrl" />
        <div [ngClass]="useCardEffect ? 'caption-md' : 'caption-sm'">
          <ion-card-header>
            <ion-card-subtitle *ngIf="card.subTitle">{{card.subTitle}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content *ngIf="useCardEffect">
            {{card.note}}
          </ion-card-content>
          <ion-badge color="primary">free</ion-badge>
        </div>
      </ion-card>
    </ng-template>
  </swiper>
</div>