<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Account Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/images/theta-logo.png" alt="Theta logo">
  </div>
  <h1 class="ion-padding-start" color="primary">Create your account</h1>
  <form *ngIf="signupForm" [formGroup]="signupForm" (ngSubmit)="signup()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="formControls.email.invalid && 
          (formControls.email.dirty || formControls.email.touched)">
        <p class="ion-padding-start validation-error" *ngIf="formControls.email.errors?.required">
          This field is required
        </p>
        <p class="ion-padding-start validation-error" *ngIf="formControls.email.invalid">
          Invalid email address
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="firstName" type="text" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="formControls.firstName.errors?.required &&  
        (formControls.firstName.dirty || formControls.firstName.touched)">
        <p class="ion-padding-start validation-error">
          This field is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="lastName" type="text" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="formControls.lastName.errors?.required &&
        (formControls.lastName.dirty || formControls.lastName.touched)">
        <p class="ion-padding-start validation-error">
          This field is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="formControls.password.errors?.required &&
        (formControls.password.dirty || formControls.password.touched)">
        <p class="ion-padding-start validation-error">
          This field is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword" type="password" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="formControls.password.value !== formControls.confirmPassword.value &&
        (formControls.confirmPassword.dirty || formControls.confirmPassword.touched)">
        <p class="ion-padding-start validation-error">
          Password doesn't match
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="!signupForm.valid || loading">
          <span *ngIf="!loading">Register</span>
          <span *ngIf="loading">Please wait...</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <div>
    <p class="ion-padding-start">if you already have an account, please login</p>
    <ion-button color="light" expand="block" (click)="login()">Login</ion-button>
  </div>
</ion-content>