<ion-header>
  <ion-toolbar>
    <ion-title>{{itinerary?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="itinerary">
  <tta-image-slider [slides]="imageSlides"></tta-image-slider>
  <ion-segment [value]="ItineraryDetailsTab.Activities" (ionChange)="selectTab($event)">
    <ion-segment-button [value]="ItineraryDetailsTab.Activities">
      <ion-label>Activities</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="ItineraryDetailsTab.Calendar">
      <ion-label>Calendar</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="ItineraryDetailsTab.Map">
      <ion-label>Map</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="selectedTab">
    <tta-timeline *ngSwitchCase="ItineraryDetailsTab.Activities" [activities]="itinerary.activities"></tta-timeline>
    <tta-calendar *ngSwitchCase="ItineraryDetailsTab.Calendar"></tta-calendar>
    <tta-map *ngSwitchCase="ItineraryDetailsTab.Map"></tta-map>
  </div>
</ion-content>