<mat-card class="card mat-elevation-z4" *ngIf="activity">
  <img
    class="card-img"
    mat-card-image
    src="{{ activity.images[0].url }}"
    alt="Activity"
  />

  <mat-card-content>
    <mat-card-title class="card-title">{{
      activity.place.name
    }}</mat-card-title>
    <mat-card-subtitle>by {{ activity.createdBy }}</mat-card-subtitle>
    <p class="card-text-content">
      {{ activity.description || activity.place.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
