<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Travel Preferences</ion-title>
    <ion-buttons slot="end">
      <a href="/">SKIP</a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="container">

    <h2> My travel preferences</h2>
    <ion-chip color="primary" mode="ios" outline="true" *ngFor="let pref of preferences">
      <ion-icon name={{pref.icon}}></ion-icon>
      <ion-label>{{pref.title}}</ion-label>
    </ion-chip>
    
    <ion-button (click)="onClick()" expand="block" shape="round">
      Save
    </ion-button>
  </ion-card>

</ion-content>
