<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="checklist">
      <ion-icon name="bag-check-outline"></ion-icon>
      <ion-label>Checklist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="itineraries">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Itineraries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
