<ion-header *ngIf="itinerary" [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/browse"></ion-back-button>
    </ion-buttons>
    <ion-title>{{itinerary.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="itinerary">
  <app-image-slider [slides]="imageSlides"></app-image-slider>

  <ion-item detail="false" lines="none">
    <ion-avatar item-start>
      <img src="assets/images/avatars/rabbit.jpg" />
    </ion-avatar>
    <ion-label class="user-info">
      <h2>Christofel Hakim</h2>
      <p>Local Guide</p>
    </ion-label>
    <ion-chip outline color="primary">
      <ion-label>Follow</ion-label>
    </ion-chip>
  </ion-item>

  <div class="ion-padding">
    <span>
      {{emojiEnum.star}} {{score}}
    </span>
    <span>{{emojiEnum.moneyFly}} ~{{itinerary.estimatedBudget.value}} {{itinerary.estimatedBudget.currency}}</span>
  </div>

  <div class="ion-padding">
    <ion-label>
      <h4>
        Description
      </h4>
      <p>
        {{itinerary.description}}
      </p>
    </ion-label>
  </div>

  <div>
    <ion-segment [value]="itineraryTabEnum.activities" (ionChange)="selectTab($event)">
      <ion-segment-button [value]="itineraryTabEnum.activities">
        <ion-label>Activities</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="itineraryTabEnum.calendar">
        <ion-label>Calendar</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="itineraryTabEnum.map">
        <ion-label>Map</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="selectedTab">
      <app-timeline *ngSwitchCase="itineraryTabEnum.activities" [activities]="itinerary.activities"></app-timeline>
      <app-calendar *ngSwitchCase="itineraryTabEnum.calendar"></app-calendar>
      <app-map *ngSwitchCase="itineraryTabEnum.map"></app-map>
    </div>
  </div>

</ion-content>