<ion-card class="card">
    <ion-card-header>
        <ion-item detail="false" lines="none" class="card-item">
            <ion-label>
                <h2>{{itinerary.title}}</h2>
                <p>{{itinerary.city.name}}, {{itinerary.city.country}}</p>
            </ion-label>
        </ion-item>
        <ion-fab vertical="center" horizontal="end">
            <ion-fab-button color="light" size="small">
                <ion-icon name="share-social-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="bottom">
                <ion-fab-button>
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                    <ion-icon name="logo-instagram"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </ion-card-header>
    <ion-card-content>
        <ion-slides pager="true">
            <ion-slide *ngFor="let image of itinerary.imageURLs">
                <div>
                    <img src="{{image}}"/>
                </div>
            </ion-slide>
        </ion-slides>
        <ion-item lines="none" class="card-item">
            <p>
                {{itinerary.description}}
            </p>
        </ion-item>
    </ion-card-content>
    <ion-row>
        <ion-col>
            <ion-item detail="false" lines="none">
                <ion-button size="default" fill="clear" slot="start" class="btn-action">
                    <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button size="default" fill="clear" slot="start" class="btn-action">
                    <ion-icon name="chatbubbles-outline" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button size="default" fill="clear" slot="end" class="btn-action">
                    <ion-icon name="arrow-forward-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-card>